body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    background-color:#f2f2f2;
}
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
.link {
    text-decoration: none;
    color: #000000;
}
.link:hover {
    color: #81b3d2;
}
.link:active {
    color: #000000;
    opacity: 0.3;
}
li {
    list-style-type: none;
}
.motto {
    background-color: #677c8b;
    background-image: url("../img/mask.svg"), url("../img/sedona.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, center -85px;
    background-size: contain, cover;
    width: 1200px;
    height: 510px; 
    padding-top: 76px;
}
section p {
    font-size: 14px;
    font-weight: 400;
}
section .welcome {
    background-image: url("../img/intro-welcome.svg");
    background-repeat: no-repeat;
    width: 459px;
    height: 353px;
    margin: 0 auto;
}
.reasons h2 {
    font-size: 21px;
    width: 440px;
    text-align: center;
    padding-top: 40px;
}
.reasons p {
    margin: 10px 0px;
}
.for-travel form {
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
    width: 568px;
}
.form-wraper {
    position: relative;
}
.search-form {
    display: block;
    -webkit-animation: down 0.6s;
            animation: down 0.6s;
}
.search-form-closed {
    display: none;
}
.for-travel-text {
    margin-top: 25px;
    margin-bottom: 34px;
    line-height: 24px;
}
.for-travel h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
form fieldset {
    border: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
}
.main-form {
    padding: 56px 54px 55px;
}
.form {
    background-color: #f2f2f2;
    border:none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.hotel-booking {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 10px;
}
.button {
    border: none;
    color: #ffffff;
    text-transform: uppercase;
}
.button-search-hotel {
    padding: 30px 0;
    width: 568px;
    background-color: #766357;
    font-weight: 700;
    font-size: 21px;
    position: relative;
    z-index: 1;
}
.for-travel {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    min-height: 855px;
    background-position: 0 291px;
    text-align: center;
}
.full input {
    width: 335px;
    height: 38px;
    padding: 0px 5px;
    text-align: left;
    vertical-align: middle;
    margin-left: 20px;
}
input[type="text"]::-webkit-input-placeholder {
    color: #000000;
    padding: 0;
}
input[type="text"]:-ms-input-placeholder {
    color: #000000;
    padding: 0;
}
input[type="text"]::-ms-input-placeholder {
    color: #000000;
    padding: 0;
}
input[type="text"]::placeholder {
    color: #000000;
    padding: 0;
}
.full .less {
    margin-left: 17px;
}
.full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 29px;
}
.date {
    padding-bottom: 1px;
}
.calendar {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: 12px;
    margin-left: -25px;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-size: 21px 68px;
    font-size: 0;
    width: 21px;
    height: 22px;
}
.calendar:hover {
    background-position: 0 -23px;
}
.calendar:active {
    background-position: 0 -46px;
}
.full input:hover {
    background-color: #ebebeb;
}
.full input:focus {
    background-color: #ffffff;
    outline:2px solid #e5e5e5;
}
.half-width label {
    margin-right: 40px;
}
.half-width:last-child label {
    margin-right: 30px;
}
.half-width input:hover, .half-width button:hover {
    background-color: #ebebeb;
    color: #000000;
}
.half-width input:active, .half-width button:active {
    background-color: #ebebeb;
    color:#81b3d2;
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}
.half-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 55px;
}
.visitors-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.half-width input, .half-width button {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}
.button-search-hotel:hover, .hotel-booking:hover {
     background-color: #604e43;
}
.button-search-hotel:active, .hotel-booking:active {
    background-color: #503e33;
    color:rgba(255, 255, 255,0.3);
}
.change-value {
    font-size: 22px;
    font-weight: 700;
    color: #a9a9a9;
    outline: none;
    padding: 0px 8px 0px 5px; 
}
.hotel-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}
div h3 {
    font-size: 21px;
}
.catalog-item span {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.rating p {
    width: 110px;
    padding: 3px 15px;
    background-color: #f2f2f2;
    vertical-align: middle;
    color: #666666;
}
.star {
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 22.4px 17px;
    background-position: right;
    background-repeat: repeat-x;
}
.star-5 {
    width: 110px;
}
.star-4 {
    width: 90px;
}
.star-3 {
    width: 65px;
}
.star-2 {
    width: 46px;
}
.star-1 {
    width: 28px;
}
.search {
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 17px 195px;
}
footer p {
    font-size: 21px;
    font-weight: 700;
}
.social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 38px;
}
.social-icons li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    font-size: 0;
    line-height:0;
}
.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    font-size: 0;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon:hover {
    background-color: #669ec0;
}
.icon:active {
    background-color: #5496bd;
}
.icon:active::before {
    opacity: 0.3;
}
.twitter::before {
    background-image: url("../img/twitter-icon.svg");
}
.facebook::before {
    background-image: url("../img/facebook-icon.svg");
}
.youtube::before {
    background-image: url("../img/youtube-icon.svg");
}
.footer-logo span {
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
}
.blue:hover {
    background-color: #669ec0;
}
.blue:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255,0.3);
}
.row {
    min-height: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    line-height: 21px;
}
.more {
    background-color: #81b3d2;
    color: #ffffff;
    border:none;
    font-size: 14px;
    text-decoration: none;
    width: 400px;
    text-align: center;
    padding: 26px 60px 5px 60px;
}
.row:nth-last-child(2) .more {
    padding-left: 40px;
    padding-right: 40px;
}
.row-bg-gray {
    background-color: #eeeeee;
    color: #000000;
}
.row-bg-gray:last-child {
    padding: 26px 75px 10px 75px;
}
.features {
    background-repeat: no-repeat;
    background-position: center 60px;
    padding: 140px 50px 69px;
    width: 33.33%;
}
.features h3 {
    margin-bottom: 18px;
}
.home {
    background-image: url("../img/icon-1.svg");
}
.food {
    background-image: url("../img/icon-3.svg");
}
.souvenirs {
    background-image: url("../img/icon-2.svg");
}
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
            box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.content {
    background-color: #f2f2f2;
}
.page-header-container {
    position: relative;
}
.header-navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.page-navigation li {
    width: 20%;
    padding: 15px 70px;
}
.header-navigation-list li:nth-of-type(2) {
    margin-right: 118px;
}
.header-navigation-list li:nth-child(3) {
    margin-left: 107px;
} 
.header-navigation-list .left {
    text-align: left;
}
.right {
    text-align: right;
}
.header-logo {
    position: absolute;
    background-image: url("../img/logo-sedona.svg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 240px;
    margin-left: -120px;
    height: 72px;
    font-size: 0px;
    left: 50%;
}
.reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    width: 100%;
}
.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.reasons-list p {
    padding: 5px 0px;
}
.first-pic {
    background-image: url("../img/1reason.jpg");
    width: 800px;
    height: 256px;
}
.second-pic {
    background-image: url("../img/third-reason.jpg");
    width: 800px;
    height: 256px;
}
.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 35px 40px 35px 75px;
    -ms-flex-line-pack: center;
        align-content: center;
}
.main-footer {
    margin-top: -90px;
}
.footer-logo {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-container p {
    margin: auto;
}
.footer-container ul {
    width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
}
.footer-container li {
    margin: 0 3px;
}
.htmlacademy-logo {
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-size: 120px 128px;
    background-position: right 0;
    width: 120px;
    margin-left: 7px;
    margin-top: 2px;
    height: 41px;
}
.htmlacademy-logo:hover {
    background-position: center -44px;
}
.htmlacademy-logo:active {
    background-position: center -88px;
}
.catalog-list {
    margin: 0px;
    padding: 0px;
}
.catalog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #ffffff;
    min-height: 151.5px;
    width: 1200px;
    margin: 0 auto; 
    border-top: 1px solid #e5e5e5;
}
.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.hotel-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5px;
    padding-top: 3px;
}
.hotel-info h2 {
    margin-top: 17px;
    margin-bottom: 5px;
}
.catalog-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.catalog-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
    margin-right: -35px;
}
.img {
    margin: 24px 31px 0px 72px;
}
.btn {
    padding: 3px 0px 3px 0px;
    margin-top: 12px;
    text-align: center;
    width: 143px;
}
.more.btn {
    width: 110px;
    padding: 1px 10px;
}
.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 70px;
    margin-top: 30px;
}
.rating p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 45px 2px 0px;
    padding: 2px 3px;
    width: 110px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #677c8b;
    background-image: url("../img/filter_background.jpg");
    background-repeat: no-repeat;
    background-position: 0px -280px;
    color: #ffffff;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.filters legend {
    font-weight: 700;
    line-height: 21px;
    font-size: 16px;
}
.left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin: 27px 10px 1px;
}
.checkbox {
    width: 0px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.checkbox+span::before{
    content:""; 
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-size: 23px 47px;
    background-position: 0 0;
    width: 27px;
    height: 23px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 12px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.checkbox:disabled+span::before {
    background-position: 0 -24px;
}
.checkbox:checked:disabled+span::before {
    background-position: 0 -25px;
}
.checkbox:checked+span::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-size: 27px 48px;
    background-position: 0 0;
    width: 27px;
    height: 23px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 12px;
    position: relative;
}
.left-side div {
    margin: 19px 0px 22px;
}
.left-side fieldset {
    width: 248px;
    margin-left: 4px;
}
.right-side {
    width: 330px;
    margin-top: 27px;
    margin-right: 70px;
    padding-left: 9px;
}
.right-side fieldset {
    padding: 0px;
}
.right-side legend {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price-controls {
    display: flex;
    align-items: center;
    position: relative;
    width: 316px;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}
.price-controls label {
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price, .price-controls .max-price {
    width: 148px;
    padding-left: 63px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    margin-left: 5px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    width: 316px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    position: absolute;
    top: -0.2px;
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle-min {
    left: 0;
}
.range-toggle:hover {
    background: #1c4f80;
    width: 22px;
    height: 22px;
}
.range-toggle-max {
    left: 78.5%;
}
.btn-transparent {
    display: block;
    margin: 0 84px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
.current {
    color: #766357;
}
.found {
    width: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 85px;
}
.found div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.found h2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 40px;
    padding-top: 5px; 
}
.found span {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    margin: 0px 47px 0px 72px;
}
.found a {
    opacity: 0.3;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 33px;
    padding-top: 4px; 
}
.sort {
    opacity: 0.3;
    border-bottom: 1px dashed #81b3d2;
}
.sort:hover {
    color: #81b3d2;
}
.sort:active {
    color: #000000;
    opacity: 1;
    border: none;
}
.found .active {
    color: #81b3d2;
    border: none;
}
.gray {
    color: #333333;
}
.up {
    background-image: url("../img/icon-up-dir.svg");
    background-size: 10px 34px;
    background-position-y: 0px;
    width: 10px;
    height: 11px;
    position: relative;
    top: 3px;
    right: 10px;
}
.up:hover {
    background-position-y:-12px;
}
.up:active {
    background-position-y:-23px;
}
.down {
    background-image: url("../img/icon-down-dir.svg");
    background-size: 10px 34px;
    background-position-y: 0;
    width: 10px;
    height: 10px;
    position: relative;
    top: 2px;
}
.down:hover {
    background-position-y:-12px;
}
.down:active {
    background-position-y:-23px;
}
.arrows {
    margin-right: 75px;
}
@keyframes down {
    0% {
        transform: translateY(-80px);
    }
    10% {
        transform: translateY(-70px);
    }
    20% {
        transform: translateY(-60px);
    }
    30% {
        transform: translateY(-50px);
    }
    40% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-20px);
    }
    70% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
