body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.link {
    text-decoration: none;
    color: #000000;
}
.link:hover {
    color: #81b3d2;
}
.link:active {
    color: #000000;
    opacity: 0.3;
}
.link-current {
    color: #766357;
}
li {
    list-style-type: none;
}
.hidden {
    visibility: hidden;
}
.motto {
    background-image: url("../img/sedona.jpg");
    width: 1200px;
    height: 800px;
    margin-bottom: -208px;
}
section p {
    font-size: 14px;
    font-weight: 400;
}
section .welcome {
    background-image: url("../img/welcome.svg");
    margin-top: 45px;
    margin-left: 370px;
    width: 459px;
    height: 353px;
}
.motto .mask {
    background-image: url("../img/polygon.svg");
    width: 1203px;
    height: 59px;
    margin-top: 20px;
    margin-left: 0px;
}
.reasons h2 {
    font-size: 21px;
    width: 440px;
    text-align: center;
    padding-top: 61px;
}
.for-travel h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
form fieldset {
    border:none;
    width: 568px;
    height: 450px;
}
form {
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
fieldset legend, .hotel-booking {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
}
form div {
    margin: 30px;
}
form .full{
    padding: 10px 150px 10px 13px;
    margin-left: 15px;
    display: inline-block;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: 275px;
}
fieldset legend {
    padding: 35px 130px 33px 130px;
}
fieldset legend:hover, .hotel-booking:hover {
     background-color: #604e43;
}
fieldset legend:active, .hotel-booking:active {
    background-color: #503e33;
    color:rgba(255, 255, 255,0.3);
}
.hotel-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}
div h3 {
    font-size: 21px;
}
.more {
    background-color: #81b3d2;
    color: #ffffff;
    border:none;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}
.row .more {
    font-size: 21px;
}
.catalog-item span {
    font-size: 14px;
    font-weight: 400;
}
.rating p {
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
}
.star {
    height: 17px;   
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-position: left;
    background-repeat: repeat-x;
}
.star-5 {
    width: 90px;
}
.star-4 {
    width: 72px;
}
.star-3 {
    width: 54px;
}
.star-2 {
    width: 36px;
}
.star-1 {
    width: 18px;
}
.form {
    background-color: #f2f2f2;
    border:none;
    font-size: 14px;
    font-weight: 700;
}
.search {
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    border:none;
    width: 458px;
    height: 58px;
    margin-top: 25px;
    margin-bottom: 25px;
}
footer p {
    font-size: 21px;
}
.social-icons li {
    list-style-type: none;
    background-color: #81b3d2;
    background-position: center;
    background-repeat: no-repeat;
    width: 46px;
    height: 48px;
    font-size: 0;
    line-height:0;
}
.social-icons .twitter {
    background-image: url("../img/twitter-icon.svg");
    background-size: 17px 15px;
}
.social-icons .facebook {
    background-image: url("../img/facebook-icon.svg");
    background-size: 12px 22px;
}
.social-icons .youtube {
    background-image: url("../img/youtube-icon.svg");
    background-size: 20px 16px;
}
.social-icons li:hover {
    background-color: #669ec0;
}
.social-icons li:active {
     background-color: #5496bd;
}
.footer-logo p {
    font-size: 14px;
    font-weight: 400;
}
.blue:hover {
    background-color: #669ec0;
}
.blue:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255,0.3);
}
.row div {
    min-width: 280px;
    min-height: 225px;
    text-align: center;
    padding: 16px 30px 15px 30px;
}
.row:nth-of-type(1) div {
    background-color: #81b3d2;
}
.row:last-of-type div {
    background-color: #eeeeee;
}
/* ----- Сеточные стили ----- */
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#fefefe;
}
.page-header {
    min-height: 56px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    order: 2;
    position: absolute;
    top: 0px;
    background-color: #ffffff;
}
.page-navigation {
    display: flex;
    flex-direction: row;
    min-height: 56px;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
}
.header-navigation-list-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 1; 
}
.header-logo {
    width: 140px;
    height: 72px;
    min-height: 56px;
    order: 2;
}
.header-navigation-list-right {
    display: flex;
    flex-direction: row;
    order: 3;
}
.page-navigation li {
    width: 239px;
    text-align: center;
}
.container {
    order: 1;
    min-height: 2780px;
    margin: 0px;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    min-height: 216px;
}
.reasons-list {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-top: 40px;
}
.row {
    display: flex;
    flex-direction: row;
}
.row:last-of-type {
    margin-bottom: 30px;
}
.for-travel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}
.for-travel div, .for-travel form{
    width: 435px;
    text-align: center;
    margin-bottom: 30px;
}
.for-travel form {
    width: 568px; 
}
.footer-container {
    display: flex;
    flex-direction: row;
    order: 3;
    background-color: #ffffff;
    opacity: 0.9;
    min-height: 120px;
    width: 100%;
}
.catalog-main-container {
    display: flex;
    flex-direction: column;
    background-color:#f2f2f2;

}
.catalog li {
    display: flex;
    flex-direction: row;
    background-color:#fefefe;
    width: 1200px;
    min-height: 80px;
    margin-bottom: 1px; 
    padding: 31px 72px;
}
.rating {
    display: flex;
    flex-direction: column;
}