body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.link {
  text-decoration: none;
  color: #000000;
}
.link:hover{
  color: #81b3d2;
}
.link:active{
  color: #000000;
  opacity: 0.3;
}
.link-current {
  color: #766357;
}
li {
  list-style-type: none;
}
.hidden {
  visibility: hidden;
}
.motto {
  background-image: url("../img/sedona.jpg");
  width: 1200px;
  height:800px;
}
section p {
  font-size: 14px;
  font-weight: 400;
}
section .welcome {
  background-image: url("../img/welcome.svg");
  width: 459px;
  height: 353px;
}
.reasons h2 {
  font-size: 21px;
}
.for-travel h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
form fieldset {
  border:none;
  width: 568px;
  height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
fieldset legend, .hotel-booking {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
}
fieldset legend:hover, .hotel-booking:hover {
  background-color: #604e43;
}
fieldset legend:active, .hotel-booking:active {
  background-color: #503e33;
  color:rgba(255, 255, 255,0.3);
}
.hotel-booking {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}
.more {
  background-color: #81b3d2;
  color: #ffffff;
  border:none;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}
.catalog-item span {
  font-size: 14px;
  font-weight: 400;
}
.rating p {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}
.star {
  height: 17px;   
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  background-position: left;
  background-repeat: repeat-x;
}
.star-5 {
  width: 90px;
}
.star-4 {
  width: 72px;
}
.star-3 {
  width: 54px;
}
.star-2 {
  width: 36px;
}
.star-1 {
  width: 18px;
}
.form {
  background-color: #f2f2f2;
  border:none;
  font-size: 14px;
  font-weight: 700;
}
.search {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  border:none;
}
footer p {
  font-size: 21px;
}
.social-icon li{
  list-style-type: none;
  background-color: #81b3d2;
  background-position: center;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
}
.social-icon .twitter {
  background-image: url("../img/twitter-icon.svg");
  background-size: 17px 15px;
}
.social-icon .facebook {
  background-image: url("../img/facebook-icon.svg");
  background-size: 12px 22px;
}
.social-icon .youtube {
  background-image: url("../img/youtube-icon.svg");
  background-size: 20px 16px;
}
.social-icon li:hover {
  background-color: #669ec0;
}
.social-icon li:active {
  opacity: 0.3;
  background-color: #5496bd;
}
.footer-logo p {
  font-size: 14px;
  font-weight: 400;
}
.blue:hover {
  background-color: #669ec0;
}
.blue:active {
  background-color: #5496bd;
  color:rgba(255, 255, 255,0.3);
}