body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    background-color:#f2f2f2;
}
html {
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.link {
    text-decoration: none;
    color: #000000;
}
.link:hover {
    color: #81b3d2;
}
.link:active {
    color: #000000;
    opacity: 0.3;
}
li {
    list-style-type: none;
}
.motto {
    background-image: url("../img/mask.svg"), url("../img/sedona.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, center -85px;
    background-size: contain, cover;
    width: 1200px;
    height: 510px; 
    padding-top: 76px;
}
section p {
    font-size: 14px;
    font-weight: 400;
}
section .welcome {
    background-image: url("../img/intro-welcome.svg");
    background-repeat: no-repeat;
    width: 459px;
    height: 353px;
    margin: 0 auto;
}
.reasons h2 {
    font-size: 21px;
    width: 440px;
    text-align: center;
    padding-top: 45px;
}
.for-travel form {
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
    background-color: #ffffff;
    width: 568px;
}
.form-wraper {
    position: relative;
}
.search-form {
    display: block;
}
.search-form-closed {
    display: none;
}
.for-travel-text {
    margin: 30px 0;
    line-height: 24px;
}
.for-travel h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
form fieldset {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.main-form {
    padding: 55px;
}
.form {
    background-color: #f2f2f2;
    border:none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.hotel-booking {
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
}
.button {
    border: none;
    color: #ffffff;
    text-transform: uppercase;
}
.button-search-hotel {
    padding: 30px 0;
    width: 568px;
    background-color: #766357;
    font-weight: 700;
    font-size: 21px;
}
.for-travel {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 584px;
    min-height: 885px;
    background-position: 0 291px;
    text-align: center;
}
.full input {
    width: 335px;
    height: 38px;
    padding: 5px 15px;
    text-align: left;
    vertical-align: middle;
    margin-left: 20px;
}
.full .less {
    margin-left: 17px;
}
.full {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.calendar {
    display: inline-block;
    position: relative;
    right: 10px;
    margin-left: -25px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position-y: -1px;
    background-size: 21px 68px;
    width: 21px;
    height: 22px;
}
.calendar:hover {
    background-position: 0 -24px;
}
.calendar:active {
    background-position: 0 -46px;
}
.full input:hover {
    background-color: #ebebeb;
}
.full input:focus {
    background-color: #ffffff;
    outline:2px solid #e5e5e5;
}
.half-width label {
    margin-right: 40px;
}
.half-width:last-child label {
    margin-right: 27px;
}
.half-width input:hover, .half-width button:hover {
    background-color: #ebebeb;
    color: #000000;
}
.half-width input:active, .half-width button:active {
    background-color: #ebebeb;
    color:#81b3d2;
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}
.half-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.visitors-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.half-width input, .half-width button {
    display: inline-block;
    width: 38px;
    height: 38px;
    padding: 5px 15px;
}
.button-search-hotel:hover, .hotel-booking:hover {
     background-color: #604e43;
}
.button-search-hotel:active, .hotel-booking:active {
    background-color: #503e33;
    color:rgba(255, 255, 255,0.3);
}
.change-value {
    font-size: 22px;
    font-weight: 700;
    color: #a9a9a9;
}
.hotel-booking {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}
div h3 {
    font-size: 21px;
}
.catalog-item span {
    font-size: 14px;
    font-weight: 400;
}
.rating p {
    width: 110px;
    padding: 3px 15px;
    background-color: #f2f2f2;
    vertical-align: middle;
    color: #666666;
}
.star {
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 22px 17px;
    background-position: right;
    background-repeat: repeat-x;
}
.star-5 {
    width: 100px;
}
.star-4 {
    width: 87px;
}
.star-3 {
    width: 65px;
}
.star-2 {
    width: 46px;
}
.star-1 {
    width: 28px;
}
.search {
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 17px 195px;
}
footer p {
    font-size: 21px;
    font-weight: 700;
}
.social-icons {
    display: flex;
    flex-direction: row;
}
.social-icons li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    font-size: 0;
    line-height:0;
}
.icon {
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 0;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.icon::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.icon:hover {
    background-color: #669ec0;
}
.icon:active {
    background-color: #5496bd;
}
.icon:active::before {
    opacity: 0.3;
}
.twitter::before {
    background-image: url("../img/twitter-icon.svg");
}
.facebook::before {
    background-image: url("../img/facebook-icon.svg");
}
.youtube::before {
    background-image: url("../img/youtube-icon.svg");
}

.footer-logo p {
    font-size: 14px;
    font-weight: 400;
}
.blue:hover {
    background-color: #669ec0;
}
.blue:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255,0.3);
}
.row {
    min-height: 255px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    line-height: 21px;
}
.more {
    background-color: #81b3d2;
    color: #ffffff;
    border:none;
    font-size: 14px;
    text-decoration: none;
    width: 400px;
    text-align: center;
    padding: 26px 60px 5px 60px;
}
.row-bg-gray {
    background-color: #eeeeee;
    color: #000000;
}
.features {
    background-repeat: no-repeat;
    background-position: center 60px;
    padding: 50px;
    padding-top: 140px;
}
.home {
    background-image: url("../img/icon-1.svg");
}
.food {
    background-image: url("../img/icon-3.svg");
}
.souvenirs {
    background-image: url("../img/icon-2.svg");
}
/* ----- Сеточные стили ----- */
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.content {
    background-color: #f2f2f2;
}
.page-header-container {
    position: relative;
}
.header-navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.page-navigation li {
    width: 20%;
    padding: 15px 70px;
}
.header-navigation-list li:nth-of-type(2) {
    margin-right: 120px;
}
.header-navigation-list li:nth-child(3) {
    margin-left: 120px;
} 
.header-navigation-list .left {
    text-align: left;
}
.right {
    text-align: right;
}
.header-logo {
    position: absolute;
    background-image: url("../img/logo-sedona.svg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 240px;
    margin-left: -120px;
    height: 72px;
    font-size: 0px;
    left: 50%;
}
.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}
.reasons-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.first-pic {
    background-image: url("../img/1reason.jpg");
    width: 800px;
    height: 256px;
}
.second-pic {
    background-image: url("../img/third-reason.jpg");
    width: 800px;
    height: 256px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 30px 0px;
    align-content: center;
}
.main-footer {
    margin-top: -110px;
}
.footer-logo {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-container p {
    margin: auto;
}
.footer-container ul {
    width: 400px;
    justify-content: center;
    margin: auto;
}
.footer-container li {
    margin: 0 2px;
}
.htmlacademy-logo {
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    background-size: 115px 123px;
    background-position: center 0;
    width: 115px;
    margin-left: 5px;
    height: 41px;
}
.htmlacademy-logo:hover {
    background-position: center -42px;
}
.htmlacademy-logo:active {
    background-position: center -84px;
}
.catalog-list {
    margin: 0px;
    padding: 0px;
}
.catalog-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    min-height: 150px;
    width: 1200px;
    margin: 0 auto; 
    border-top: 1px solid #e5e5e5;
}
.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
.hotel-info {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.catalog-row {
    display: flex;
    flex-direction: row;
}
.catalog-column {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: -35px;
}
.img {
    margin: 20px 30px 0px 70px;
}
.btn {
    padding: 3px 20px;
}
.more.btn {
    width: 110px;
    padding: 1px 10px;
}
.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 70px;
    margin-top: 30px;
}
.rating p {
    display: flex;
    padding: 5px;
    width: 110px;
    justify-content: center;
    align-items: center;
}
.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/filter_background.jpg");
    background-repeat: no-repeat;
    background-position: 0px -280px;
    color: #ffffff;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}
.filters legend {
    font-weight: 700;
    line-height: 21px;
    font-size: 16px;
}
.left-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 30px 55px;
}
.checkbox {
    width: 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.checkbox+span{
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-size: 23px 47px;
    background-position: 0 0;
    width: 27px;
    height: 23px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
}
.checkbox:disabled+span {
    background-position: 0 -24px;
}
.checkbox:checked:disabled+span {
    background-position: 0 -25px;
}
.checkbox:checked+span {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-size: 27px 48px;
    background-position: 0 0;
    width: 27px;
    height: 23px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.left-side div {
    margin-top: 20px;
}
.right-side {
    width: 330px;
    padding: 0px;
    margin-top: 30px;
    margin-right: 70px;
}
.right-side legend {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price-controls {
    display: flex;
    align-items: center;
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}
.price-controls label {
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price, .price-controls .max-price {
    width: 140px;
    padding-left: 55px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    margin-left: 5px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    position: absolute;
    top: -0.2px;
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle-min {
    left: 0;
}
.range-toggle:hover {
    background: #1c4f80;
    width: 22px;
    height: 22px;
}
.range-toggle-max {
    left: 80%;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
.current {
    color: #766357;
}
.found {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 85px;
}
.found div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.found h2 {
    margin: 30px 40px 30px 65px;
}
.found span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 15px;
}
.sort {
    opacity: 0.3;
    border-bottom: 1px dashed #81b3d2;
}
.sort:hover {
    color: #81b3d2;
}
.sort:active {
    color: #000000;
    opacity: 1;
    border: none;
}
.active {
    color: #81b3d2;
    border: none;
}
.up {
    background-image: url("../img/icon-up-dir.svg");
    background-size: 10px 34px;
    background-position-y: 0px;
    width: 10px;
    height: 11px;
    margin: 10px;
}
.up:hover {
    background-position-y:-12px;
}
.up:active {
    background-position-y:-23px;
}
.down {
    background-image: url("../img/icon-down-dir.svg");
    background-size: 10px 34px;
    background-position-y: 0;
    width: 10px;
    height: 10px;
}
.down:hover {
    background-position-y:-12px;
}
.down:active {
    background-position-y:-23px;
}
.arrows {
    margin-right: 70px;
}